<li>@Html.ActionLink("Полета", "About", "Home")</li>
<li>@Html.ActionLink("Магазин", "Contact", "Home")</li>
<li>@Html.ActionLink("Класиране", "Contact", "Home")</li>
<li>@Html.ActionLink("Board", "Show", "Boards")</li>
