<div class="container-fluid margin-top text-justify font-size-15">
    <h1 class="text-center bold">World Of Word</h1>
    <p>Добре дошли в света на думите. Ако обичате кръстословици или скрабъл това е вашето място. </p>
    <h4 class="margin-top bold">Как да играете?</h4>
    <p>Регистрирайте се и ще получите 200 голдъна.  С тях от магазина си купете думи по ваш избор.  Думите може да ги редите върху различни игрални полета, които са общи за всички играчи. </p>
    <div class="row text-center"><img src="~/Images/board.jpg" /></div>
    <p>С клик върху думата може да я въртите. А с влачене може да я поставите на желаното място</p>
    <p>
        Ако си изиграете добре думите  може да увеличите вашите голдъни, с които ще си купите нови думи...  Бъдете по-добър от другите.
        Целта е с по-малко изхарчени голдъни да изкарате колкото се може повече.
    </p>
    <h4 class="margin-top bold">Как се изчисляват точките?</h4>
    <p>
        Всяка буква от азбуката има своите точки. Сборът от точките на буквите в дума дават точките на думата.
        Когато кръстосвате думите ще получавате повече точки.  За всяка обща буква ще получите 10% върху точките на думата сложена върху полето плюс точките от общите букви.
        Минавайки  през по-скъпи думи ще искарате повече точки, съответно голдъни.
    </p>
    <p>
        <div class="row">
            <div class="col-md-4"><img src="~/Images/board1.jpg" /></div>
            <div class="col-md-8">
                <div>Играем с думата <span class="bold italic">кошница</span>, която е 22 точки.</div>
                <div>Думата <span class="bold italic">каша</span> я пресичате с <span class="bold italic">кошница</span>.</div>
                <div>За всяко пресичане получавате 10% върху точките на думата.</div>
                <div>
                    Към този резултат се добавя сумата от общите букви. За случая <span class="bold italic">а</span>,
                    ни носи 1 точка.
                </div>
                <div>22 + 22 . 0,1 + 1 = 25,2</div>
                <div>Закръглява се на 25 точки.</div>
            </div>
        </div>
    </p>
    <p>
        Друг пример.
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/board2.jpg" />
            </div>
            <div class="col-md-8">
                <div>Пресичаме <span class="bold italic">каша</span> и <span class="bold italic">пицария</span> с <span class="bold italic">кошница.</span></div>
                <div>Думата <span class="bold italic">кошница</span> е 22 точки.</div>
                <div>За всяко пресичане получавате 10%. Общо ще получите 20%.</div>
                <div>
                    Минали сте през буквите <span class="bold italic">а</span> и <span class="bold italic">ц</span>, които съответно са 1 и 8 точки. Допълнително ще вземете 9 точки.
                </div>
                <div>Крайния резултат е: 22 + 22 . 0,2 + 9 = 35,4</div>
                <div>Закръглява се на 35 точки.</div>
            </div>
        </div>
    </p>
    <h4 class="margin-top bold">За да е по интересно</h4>
    <p>
        Колкото е по-пълна дъската толкова повече точки ще получите. Вашите точки ще се умножават с определен коефициент.
        Всяко поле има срок, след който се затваря. Чак след затварянето му получавате си точките от него.
    </p>
</div>

