<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Ajax.ActionLink("Store", "Store", null, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "words-section"
                }, new {@class = "btn btn-primary btn-lg", @id="store-button"})
<div id="words-section">

</div>
<div id="shop-cart">

</div>
<script>
    $("#store-button").click();
    var shopList = [];
</script>