<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="words-section">

</div>
<div id="shop-cart">

</div>
<script>
    loadShop().success(function(data) {
        $("#words-section").html(data);
    });
    var shopList = [];
</script>